@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}


.cover{
    background-image: url('images/cover.png');
    background-position: center;
    background-size: cover;

    text-align: center;

    padding: 80px 0px;
}

.top-title{
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.title{
    color: white;
    font-size: 50px;
}

.description{
    color: white;
    font-size: 18px;
}

.btn{
    background-color: #5635DD;
    color: white;
    text-transform: uppercase;

    margin-top: 50px;

    border: none;
    border-radius: 5px;

    width: 200px;
    height: 40px;

    transition: 0.3s;
}

.btn:hover{
    background-color: transparent;
    color: #5635DD;
    border: 1px solid #5635DD;
}


/* ===================================================== */

.about{
    padding: 70px 50px;
    display: flex;
}

.about>div{
    width: 50%;
}

.about-image{
    text-align: center;
}

.about-img>img{
    width: 70%;
}


.about-title{
    color: #170F49;
    font-size: 50px;
    font-weight: 600;
}

.colored{
    color: #504BFF;
}

.about-subtitle{
    color: #170F49;
    font-size: 40px;
    font-weight: 500;
    margin-top: -24px;
    width: 80%;
}

.about-description{
    color: #170F49;
    width: 80%;
    font-size: 20px;
    margin-top: -32px;
}

/* ============================================================== */


.services{
    background-color: #5635DD;
    padding: 40px;
    display: flex;
}

.service-item{
    text-align: center;
    padding: 64px;
}

.service-item>h3{
    color: white;
}

.service-item>p{
    color: white;
}

/* ============================================= */


.pricing{
    padding: 70px;
}

.pricing-title{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

table{
    background-color: #5536dd1d;
    border-radius: 24px;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.588);
}

th{
    background-color: #5536dd98;
    padding: 24px;
    color: white;

    border-radius: 24px 24px 0px 0px ;
}

td{
    padding: 24px;
    text-align: center;
}

/* =========================================================== */


.contact{
    text-align: center;
    margin-top: 80px;
    padding: 50px;
    background-color: #F0EFFF;
}

.contact-title{
    font-size: 50px;
    font-weight: 600;
}

.inp{
    padding: 24px;
    margin: 12px;
    width: 60%;
    border: 1px solid rgba(126, 126, 126, 0.173);
    border-radius: 12px;

    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.263);
}


.footer{
    background-color: #170F49;
    padding: 12px;
    text-align: center;
    color: white;
}



@media only screen and (max-width: 600px){



    .pricing-table{
        overflow-x: scroll;
    }

    .about{
        flex-direction: column;
    }

    .about>div{
        width: 100%;
    }

    .about-image>img{
        width: 90%;
    }


    .services{
        flex-direction: column;
    }

}